.data-loading-error {
  height: calc(var(--spacer) * 3);
  position: fixed;
  top: calc(50vh - var(--spacer) * 1.5);
  width: calc(100vw - var(--spacer) * 2);
}
.detail-title {
  font-size: calc(var(--spacer) + var(--spacer-quarter) / 2);
  font-weight: 300;
}
.error-message {
  color: var(--error);
  font-size: calc(var(--spacer) * 1.5);
}
