.link-button {
  background-color: transparent;
  border: none;
  color: var(--accent);
  cursor: pointer;
  font-size: var(--spacer);
  height: auto;
  outline: none;
  padding: 0;
  width: auto;
}
.link-button:hover {
  color: var(--accent-light);
}
