input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: calc(var(--spacer) * 8);
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--muted-light);
  border-radius: var(--spacer-quarter);
  height: var(--spacer-half);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: calc(var(--spacer-quarter) * -1);
  background-color: var(--accent);
  border-radius: var(--spacer-half);
  height: var(--spacer);
  width: var(--spacer);
}
input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid var(--accent);
  outline-offset: 0.125rem;
}
input[type="range"]::-moz-range-track {
  background-color: var(--muted-light);
  border-radius: var(--spacer-quarter);
  height: var(--spacer-half);
}
input[type="range"]::-moz-range-thumb {
  background-color: var(--accent);
  border: none;
  border-radius: var(--spacer-half);
  height: var(--spacer);
  width: var(--spacer);
}
input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid var(--accent);
  outline-offset: 0.125rem;
}
.bottom-panel, .playtime {
  font-size: calc(var(--spacer-half) + var(--spacer-half) / 2);
}
.cover-modal-controls-wrap {
  background-color: rgba(255, 255, 255, .7);
  border-radius: var(--spacer);
  position: fixed;
  right: var(--spacer);
  top: var(--spacer);
  width: calc(var(--spacer) * 8);
  z-index: 15;
}
.cover-modal-image-wrap {
  height: 100vh;
  width: 100vw;
  z-index: 12;
}
.drop-zone {
  border: 2px dotted lightgreen;
  height: calc(100vh - var(--spacer) * 10);
  overflow-y: scroll;
}
.dragging {
  background-color: rgba(0, 255, 0, .2);
  border: 2px dotted greenyellow;
}
.playlist-entry-wrap {
  background-color: transparent;
  border: 2px solid transparent;
  color: var(--text);
  flex-shrink: 0;
  height: calc(var(--spacer) * 2);
}
.playlist-entry-wrap:hover {
  background-color: rgb(181, 255, 181);
}
.playlist-entry-selected {
  border: calc(var(--spacer-quarter) / 2) solid rgb(181, 255, 181);
  border-radius: calc(var(--spacer-quarter) / 2);
}
.playlist-entry-queued {
  background-color: aqua;
}
.playtime {
  height: calc(var(--spacer-half) * 3);
}
.playtime-element {
  width: calc(var(--spacer) * 4);
}
.playtime-separator {
  width: var(--spacer);
}
.settings-modal-wrap {
  background-color: var(--background);
  border-radius: var(--spacer);
  height: calc(var(--spacer) * 16);
  left: calc(50% - var(--spacer) * 9);
  position: fixed;
  top: calc(50% - var(--spacer) * 8);
  width: calc(var(--spacer) * 18);
  z-index: 12;
}
.track-duration {
  width: calc(var(--spacer-half) + var(--spacer) * 4);
}
.track-index {
  min-width: calc(var(--spacer-half) * 3);
}
.track-name {
  overflow-x: hidden;
  text-wrap: nowrap;
}
.volume-slider {
  width: calc(var(--spacer) * 8);
}
