.bottom-panel, .playtime {
  font-size: calc(var(--spacer-half) + var(--spacer-half) / 2);
}
.drop-zone {
  border: 2px dotted lightgreen;
  height: calc(100vh - var(--spacer) * 10);
  overflow-y: scroll;
}
.dragging {
  background-color: rgba(0, 255, 0, .2);
  border: 2px dotted greenyellow;
}
.playlist-entry-wrap {
  background-color: transparent;
  border: 2px solid transparent;
  color: var(--text);
  flex-shrink: 0;
  height: calc(var(--spacer) * 2);
}
.playlist-entry-wrap:hover {
  background-color: rgb(181, 255, 181);
}
.playlist-entry-selected {
  border: calc(var(--spacer-quarter) / 2) solid rgb(181, 255, 181);
  border-radius: calc(var(--spacer-quarter) / 2);
}
.playlist-entry-highlight {
  background-color: lightgreen;
}
.playlist-entry-queued {
  background-color: aqua;
}
.playtime {
  height: calc(var(--spacer-half) * 3);
}
.track-duration {
  width: calc(var(--spacer-half) + var(--spacer) * 4);
}
.track-index {
  min-width: calc(var(--spacer-half) * 3);
}
.track-name {
  overflow-x: hidden;
  text-wrap: nowrap;
}
.volume-slider {
  width: calc(var(--spacer) * 8);
}
