.drop-zone {
  border: 1px dotted red;
  height: calc(100vh - var(--spacer) * 10);
  overflow-y: scroll;
}
.dragging {
  background-color: rgba(255, 0, 0, .2);
  border: 2px dotted red;
}
.playlist-entry-wrap {
  height: calc(var(--spacer) * 2);
}
.playlist-entry-wrap:hover {
  background-color: lightgreen;
}
.track-duration {
  width: calc(var(--spacer-half) + var(--spacer) * 4);
}
.track-index {
  min-width: calc(var(--spacer-half) * 3);
}
.track-name {
  overflow-x: hidden;
  text-wrap: nowrap;
}
